<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
</ngx-loading>

<div class="modal-header custom-modal-header">
  <div style="font-size: 20px;">
    {{dialogType == 'update' ? 'Update' : 'Add'}}
  </div>
  <div class="modal-header-close-btn" (click)="onClose()">
    x
  </div>
</div>

<div class="modal-body custom-modal-body">
  <form #f="ngForm" novalidate autocomplete="off" *ngIf="slider_obj">
    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label for="productname">Product Name <span class="c-red">*</span></label>
          <p-dropdown name="mainproduct" #mainproduct="ngModel" [options]="main_product_list"
            placeholder="Select Product" [(ngModel)]="slider_obj.mainproduct" optionLabel="name" optionValue="_id">
          </p-dropdown>
        </div>
      </div>




      <div class="col-12 ">
        <div class="form-group">
          <div>
            <label>Image</label>
          </div>
          <div class="uploaded-file-block" *ngIf="slider_obj.sliderImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" [src]="slider_obj.sliderImageUrl" /></div>
              <div class="close-btn-wrapper" (click)="clearCLFile()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="uploaded-file-block" *ngIf="slider_obj.image && !slider_obj.sliderImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" [src]="base_url+'/'+slider_obj.image" /></div>
            </div>
          </div>
          <button type="button" class="btn dark-blue-btn" (click)="sliderImageFile.click()">
            <div>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Upload
            </div>
            <input #sliderImageFile type="file" (change)="onCLUpload($event)" accept="image/*" style="display: none" />
          </button>
        </div>
      </div>

      <div class="col-12 ">
        <div class="form-group">
          <label>Text</label>
          <div [class.is-invalid]="f.submitted && (description.invalid || !slider_obj.description)">
            <div [ngxSummernote]="config" name="description" #description="ngModel"
              [(ngModel)]="slider_obj.description"></div>
          </div>
          <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
            <p>Content can't be blank.</p>
          </div>
        </div>
      </div>


    </div>

    <div class="footer-block  mb-2 mt-4">
      <button type="submit" *ngIf="dialogType == 'add'" class="btn green-btn"
        [disabled]="f.invalid || !slider_obj.description || !slider_obj.sliderImageUrl" (click)="addSlider()">Add
        Tiles</button>
      <button type="submit" *ngIf="dialogType == 'update'" class="btn green-btn"
        [disabled]="f.invalid || !slider_obj.description" (click)="updateSlider()">Update Tiles</button>
      <button type="button" class="btn gray-btn" (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>
